version: "3.8"

services:
  web:
    image: ourdecade_web_app:latest
    restart: unless-stopped
    container_name: ourdecade_web_app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 如果需要持久化 SSL 证书，可以挂载
      - ./ssl:/etc/caddy/ssl:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - webnet

networks:
  webnet:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
