version: "3.8"

services:
  app:
    image: ourdecade_web_app:latest
    restart: unless-stopped
    container_name: ourdecade_web_app
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./ssl:/etc/caddy/ssl:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - webnet

networks:
  webnet:
    driver: bridge

volumes:
  caddy_data:
  caddy_config:
