.dumi-default-features-item {
    text-align: center;
}

.dumi-default-header-content {
    gap: 40px;
}

.dumi-default-header-left {
    width: unset !important;
}

.dumi-default-container {
    margin: 0 !important;
}
